<html xmlns:com="http://www.commsys.com.ar">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="es" />
    <title><com:title/></title>
    <com:security/>
    <com:jsincludes/>
    <link href="/var/commsys_pub.css" media="screen,print" type="text/css" rel="stylesheet" />
</head>

<body onLoad="onPageLoad()" class="yui-skin-sam">
    <div id="payload">
        <div id="head">
            <img src="/images/default/logo_header.jpg"/>
        </div>
        <com:errormsg/>
        <com:maincontent/>
    </div>
</body>
</html>
